@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Red+Hat+Display:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

:root {
  /* Colors

Primary */

  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /* Neutral */

  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Cream);
  font-family: "Montserrat", sans-serif;
  
}

.card {
  width: 600px;
  background-color: var(--White);
  border-radius: 12px;
  overflow: hidden;
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  color: var(--Dark-grayish-blue);
}
.product-img {
  width: 50%;
}
.container {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
.container > * {
  margin: 12px 0;
}
.title-type {
  /* check */
 
  font-size: 14px;
  color: var(--Dark-grayish-blue);
  font-weight: 500;
  letter-spacing: 5px;
}
.title-preview {
  color: var(--Very-dark-blue);
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}
.details {
  
  font-size: 14px;
  line-height: 25px;
  
}
.add-to-cart{
    width: 100%;
    border: none;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--Dark-cyan);
    color: white;
    padding: 1rem 0;
    box-shadow: 0 10px  10px -8px rgb(197, 189, 245);
    line-height:16px;
    font-family: inherit;
    align-items: center;
    
   
}


.add-to-cart:hover{
    background-color: var(--Very-dark-blue);
}
.cart{
    margin-right: 12px;
}

.current{
    font-family: 'Fraunces', serif;
    font-size: 32px;
    color: var(--Dark-cyan);
    font-weight: 700;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.prev{
    margin-right: 12px;
}
